---
import {Image, Link, Spacer} from "@nextui-org/react";
import {Button} from "@nextui-org/button";
import {downloadIcon} from "@/components/icons/icons";
import {mailIcon} from "./icons/icons";
---
<div class="h-screen">
    <div class=" mt-10 flex flex-col lg:flex-row items-center gap-20 pb-10 w-full mb-20">
        <div class="text-center lg:text-left lg:w-1/2">
            <div class="text-2xl sm:text-3xl">
                <Spacer y={12}/>
                <p class="leading-snug">
                    Tôi là {' '}
                    <span
                            class="font-bold from-indigo-500 via-purple-500 to-pink-500 bg-clip-text text-transparent bg-gradient-to-r">
							Tống Đức Thành Nam
						</span>
                    , một Kỹ sư Phần mềm đang làm việc tại Thành phố Hồ Chí Minh, Việt Nam. Tôi đam mê xây dựng phần mềm
                    để giải quyết các vấn đề thực tế và giúp đỡ mọi người.
                </p>
                <Spacer y={12}/>
                <div class="flex flex-row flex-wrap gap-4 justify-center items-center lg:justify-start">
                    <Button
                            className="w-full md:w-auto"
                            as={Link}
                            endContent={
                                mailIcon
                            }
                            href="mailto:tongducthanhnam@gmail.com"
                            color="primary"
                            size="lg"
                    >
                        Contact me
                    </Button>
                    <Button
                            className="w-full md:w-auto"
                            as={Link}
                            endContent={downloadIcon}
                            href={"tongducthanhnam.pdf"}
                            download={"tongducthanhnam"}
                            color={"default"}
                            variant={"flat"}
                            size={"lg"}
                    >
                        Download CV
                    </Button>
                </div>
            </div>
        </div>
        <div class="text-center lg:text-right lg:w-1/2">
            <div class="flex justify-end items-center">
                <Image
                        isBlurred={true}
                        client:load
                        src="/images/avatar.webp"
                        className="w-64 md:w-80 select-none"
                        alt="Thành Nam Avatar"
                        loading="eager"
                />
            </div>
        </div>
    </div>
</div>